$green: rgb(19, 140, 60);
$yellow: rgb(255, 220, 48);
$grey: rgb(66, 66, 66);
.contact {
  .container {
    margin: 0px auto;
  }
  .header {
    color: $green;
  }
  .row {
    padding: 20px;
    background-color: white;
  }
  .button {
    text-decoration: none;
  }
  .contactListItem {
    color: $green;
  }
  .contactListItemPrint {
    width: 210mm;
  }
  .contactItem {
    // display: grid;
    // grid-template-columns: 100px 250px 250px;
    // grid-gap: 5px;
    // float: left;
    background-color: rgba(246, 180, 74, 0);
    padding: 3px;
    margin: 10px 5px;
    height: 150px;
    overflow: hidden;
    box-shadow: 0 4px 15px 0 rgba(19, 140, 60, 0.2),
      0 10px 18px 0 rgba(19, 140, 60, 0.1);
    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
      height: 100%;
    }
    .contactPhoto {
      float: left;
    }
  }
  .searchBox {
    width: 300px;
    margin-right: 50px;
  }
  .printIcon {
    font-size: 20px;
  }
}

@media screen {
  .contact {
    .onlyPrint {
      display: none;
    }
  }
}

@media print {
  .contact {
    .noPrint {
      display: none;
    }
    .onlyPrint {
      display: inline;
      div span {
        border: 2px solid black;
        display: inline-block;
        padding: 0px 2px;
        color: black;
        margin: 1px;
        &.number {
          width: 6mm;
        }
        &.name {
          width: 50mm;
        }
        &.department {
          width: 41mm;
        }
      }
    }
  }
  .printDiv {
    float: left;
    width: 105mm;
  }
  :global {
    #suiteBar,
    #s4-titlerow {
      display: none !important;
    }
  }
}
